
@{
    ViewBag.Title = "FindVoyage";
}

<div class="body-content">
    <div class="container personal">
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 info-panel">
                <div class="col-xs-12 info-name">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="text-center">Search Voyage</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 info-content">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="busStopDeparture">Daparture</label>
                            <input type="text" class="form-control" id="busStopDeparture" placeholder="Enter bus stop name" />
                            <input type="hidden" class="form-control" id="resultValueDeparture" placeholder="Enter bus stop name" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="busStopArrival">Arrival</label>
                            <input type="text" class="form-control" id="busStopArrival" placeholder="Enter bus stop name" />
                            <input type="hidden" class="form-control" id="resultValueArrival" placeholder="Enter bus stop name" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <p>Choose date and time</p>
                        <div class="form-group">
                            <ul id="list-time"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

@section css {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/appJQ/jquery-autocomplete.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/appJQ/datetimepicker.js"></script>
}